div, canvas {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

canvas {
    border: solid black 1px;
    box-shadow: 3px 3px 5px #888888;
}

canvas#main {
    height: 600px;
}

.instructions {
    border: none;
    box-shadow: none;

    color: #424242;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing: 0.1em;
    margin: 40px auto;
    text-transform: lowercase;
    line-height: 100%;
    font-size: 14pt;
    font-variant: small-caps;

}

.instructions:first-letter, .instructions p:first-letter {
    text-transform: uppercase;
}

